<%= render "nav" %>

<% assigned = @assigned.where(user_id: current_user.id) %>
<% assignments = [] %>
<% assigned.each do |assigned| %>
  <% assignments << @assignments.find(assigned.assignment_id) %>
<% end %>

<h2>Assignments</h2>
  <% assignments.each do |assignment| %>
    <% if assigned?(assignment) %>
      <p><%= assignment.title %></p>
      <p><%= assignment.description %></p>
      <p>-------------------------------------------------------</p>
    <% end %>
  <% end %>
<h2>Past Due Assignments</h2>
  <% assignments.each do |assignment| %>
    <% if late?(assignment) %>
      <p><%= assignment.title %></p>
      <p><%= assignment.description %></p>
      <p>-------------------------------------------------------</p>
    <% end %>
  <% end %>
<h2>Completed Assignments</h2>
  <% assignments.each do |assignment| %>
    <% completed_assignment = completed(assignment) %>
    <% unless completed_assignment.nil? %>
      <% @completed_assignments << completed_assignment %>
    <% end %>
  <% end %>
  <% assignments.each do |assignment| %>
    <% unless @completed_assignments.nil? %>
      <% @completed_assignments.each do |completed_assignment| %>
        <% if assignment.id == completed_assignment.assignment_id %>
          <p><%= assignment.title %></p>
          <p><%= assignment.description %></p>
          <p>-------------------------------------------------------</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
